<div class="container">

  <h1>Dracula's blog from app/templates/posts.hbs</h1>

  <ul>
    <!-- each iterates off the implicit this which is returned from the model function in the route -->
    <!-- #each is the same as each post in model -->
    {{#each post in model}}
    <!-- title also uses the implicit this which refers to the model (same as this.title)-->
      <li>
        {{#link-to 'post' post}}
        <!-- this references the current post that we are iterating through -->
          {{post.title}}
        <span class="softened">
          by {{post.user.name}}
        </span>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>

</div>
